<div>
  <button (click)="onClick('circle')" [class.selected]="isSelected('circle')">&#9675;</button>
  <button (click)="onClick('filled-square')" [class.selected]="isSelected('filled-square')">&#9645;</button>
  <button (click)="onClick('square')" [class.selected]="isSelected('square')">&#9633;</button>
  <button (click)="onClick('triangle')" [class.selected]="isSelected('triangle')">&#9651;</button>
  <button (click)="onClick('line')" [class.selected]="isSelected('line')">&#9474;</button>
</div>
